:root {
  --color-primary: #1098ad;
  --color-background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  position: relative;
  border-top: 1rem solid var(--color-primary);
}

h1 {
  font-size: 2.6rem;
  font-style: italic;
  display: inline-block;
}

h1::first-letter {
  font-style: normal;
  margin-right: 0.5rem;
}

h1,
h2,
h3 {
  color: var(--color-primary);
}

h1,
h4 {
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgb(252, 227, 4);
  color: #444;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -1rem;
  right: -2.5rem;
}

h3 {
  font-size: 3rem;
  margin: 4rem 0 2rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

ol,
ul {
  margin: 0 0 2rem 5rem;
}

li {
  font-size: 2rem;
  margin-bottom: 1rem;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
  margin-right: 0;
}

button {
  font-size: 2.2rem;
  padding: 2rem;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: black;
  font-style: italic;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 6rem 7.5rem;
  align-items: start;
}

.main__header {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.main__header,
.related__posts {
  background-color: var(--color-background);
}
.nav {
  justify-self: end;
}

.nav__list {
  margin: 0;
}

.nav__item {
  display: inline-block;
  list-style: none;
  margin: 0 3rem 0 0;
}

.nav__link {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
}

.post__header {
  margin-bottom: 4rem;
}

.author__container {
  margin-bottom: 2.5rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.author__details {
  font-style: italic;
  margin: 0;
}

.author__details,
.related__author {
  font-size: 1.8rem;
}

.post__img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.related__posts {
  border-top: 0.5rem solid var(--color-primary);
  border-bottom: 0.5rem solid var(--color-primary);
  padding: 4rem 2.5rem;
}

.related__posts-heading {
  margin-bottom: 4rem;
}

.related__posts-list {
  list-style: none;
  margin: 0;
}

.related__post-item {
  margin-bottom: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.related__post-link:link {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: normal;
}

.related__author {
  font-weight: normal;
  margin-bottom: 0;
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.footer {
  grid-column: 1 / -1;
}

.copyright {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
